<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hangman</title>
		<link rel="stylesheet" href="../static/styles/default.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/styles/hangman.css">
  </head>
  <body>
    Game Finished! Your Score : {{score}}
    <br>
    To play again click <a href="/hangman">here</a>
  </body>
</html>
