<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hangman</title>
		<link rel="stylesheet" href="../static/styles/default.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/styles/hangman.css">
	</head>
	<body>
		<header>
			<div>M</div>
			<div>Michigan Hangman</div>
		</header>
		<section>
			<form action="/submitCheckin" method="POST">
				<div>
					<label>Unique Name</label>
				</div>
				<div id="loginid">
					{{ form.username.label }}
    			{{ form.username }}
				</div>
				{{ form.submit }}
			</form>
		</section>
  </body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/scripts/hangman.js"></script>
</html>
