.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
  text-decoration:none;
}

.alphabet{
  color: white;
  background-color: blue;
  padding: 1%;
}

#start-new-game {
  display : none;
}
