body{
  /*background-color: black;*/
}
span{
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}
#username, #score{
  color: #ffd215;
}
button{
  background-color: transparent;
  border: 2px solid #ffd215;

}
a{
  color: #ffd215;
  text-decoration: none;
}
#details{
  padding-top: 2%;
  text-align: center;
}

canvas{
    height: 300px;
    width: 400px;
  }

  #gamearea, #deadman{
    text-align: center;
    margin-top: 7%;
  }
  li{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .row{
    padding-top: 4%;
    padding-bottom:4%;
  }

  .alphabet{
    color: white;
    background-color: blue;
    padding: 1%;
    text-decoration:none;
  }

.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
  background-color: #90A4AE;
  text-decoration:none;
}

#start-new-game {
  display : none;
}

body {
  background-image: url('../images/starry_night.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
